<div class="modal_gobo"></div>
<div class="buy_modal_inner">
    <div>
        <p>here is a thing</p>
        <a href="">buy now</a>
        <div class="paypal_bttn">
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2EY5AS7KZYJWW">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>


        </div>
        <a class="close_modal" href="">close</a>
    </div>
    
</div>